@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
     margin: 0;
     padding: 0;
     
}

body{
     font-family: 'Poppins', sans-serif;
}

/* Header Section */

.header_container{
     width: 100%;
     height: 680px;
     background-image: url(../images/banner/banner3.png);
     background-repeat: no-repeat;
     background-size:cover;
     background-position: center;
     position: relative;
     
    
}

.header_title{
     position: absolute;
     width: 90%;
     text-align: right;
     margin-top: 100px;
}

.header_title h1{
     font-weight: 700;
     font-size: 65px;
     text-align: right;
     color: #FFFFFF;
}

.header_title p{
     font-size: 16px;
     line-height: 26px;
     text-align: right;
     color: #FFFFFF;
}

.primary_button{
     padding: 15px 28px;
     border: 0;
     border-radius: 5px;
     font-size: 20px;
     font-weight: 600;
     color: #005FAC;
     margin-top: 20px;

}

/* Main Section */
main{
     max-width: 90%;
     margin: 0 auto;
}
/* Image Decription */

.image_description_container{
     display: flex;
     justify-content: space-around;
     height: 550px;
     margin-top: 30px;
}
.image_title{
     text-align: left;
     margin-top: 130px;
}

.image_title h2{
     font-weight: 700;
     font-size: 40px;
     line-height: 47px;
     color: #151414;
     margin-bottom: 30px;
}

.image_title p{
     font-size: 16px;
     line-height: 26px;
     color: #444343;
     margin-bottom: 20px;
}

.image_title ul {
     list-style: none;
   }
   
   ul li:before {
     content: '✓ ';
     color: #16D887;
   }

/* My Plan Section */

.my_plan_container{
     margin: 0 auto;
     margin-top: 80px;
     text-align: center;
}

.my_plan_container h1{
     text-align: center;
     font-weight: 700;
     font-size: 40px;
     color: #151414;
     margin-bottom: 50px;
}

.plan_item_wrap{
     display: flex;
     justify-content: space-between;
     padding: 20px;
}


.plan_item p{
     font-size: 18px;
     text-align: center;
     color: #737272;
}

