@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
     margin: 0;
     padding: 0;
     
}

body{
     font-family: 'Work Sans';
}

/* Header Section */

.header_container{
     width: 100%;
     height: 680px;
     background-image: url(../images/banner/banner3.png);
     background-repeat: no-repeat;
     background-size:cover;
     background-position: center;
     position: relative;
     
    
}

.header_title{
     position: absolute;
     width: 90%;
     text-align: right;
     margin-top: 100px;
}

.header_title h1{
     font-weight: 700;
     font-size: 65px;
     text-align: right;
     color: #FFFFFF;
}

.header_title p{
     font-size: 16px;
     line-height: 26px;
     text-align: right;
     color: #FFFFFF;
}

.primary_button{
     padding: 15px 28px;
     border: 0;
     border-radius: 5px;
     font-size: 20px;
     font-weight: 600;
     color: #005FAC;
     margin-top: 20px;

}

/* Main Section */
main{
     max-width: 90%;
     margin: 0 auto;
}
/* Image Decription Setion */

.image_description_container{
     display: flex;
     justify-content: space-around;
     height: 550px;
     margin-top: 30px;
}
.image_title{
     text-align: left;
     margin-top: 130px;
}

.image_title h2{
     font-weight: 700;
     font-size: 40px;
     line-height: 47px;
     color: #151414;
     margin-bottom: 30px;
}

.image_title p{
     font-size: 16px;
     line-height: 26px;
     color: #444343;
     margin-bottom: 20px;
}

.list_item {
     list-style: none;
   }
   
.list_item li:before {
     content: '✓ ';
     color: #16D887;
   }

/* My Plan Section */

.my_plan_container{
     width: 90%;
     margin: 0 auto;
     margin-top: 80px;
     text-align: center;
}

.my_plan_container h1{
     text-align: center;
     font-weight: 700;
     font-size: 40px;
     color: #151414;
     margin-bottom: 50px;
}

.plan_item_wrap{
     display: flex;
     justify-content: space-between;
     padding: 20px;
}


.plan_item p{
     font-size: 18px;
     text-align: center;
     color: #737272;
     margin-top: 15px;
}

/* Banner Section */

.banner_container{
     width: 90%;
     height: 280px;
     margin: 0 auto;
     background-image: url(../images/gradient1.png) , url(../images/watch.png);
     background-size: cover;
     padding: 20px;
     margin-top: 100px;
     
}

.banner-wrap{
     margin: 90px 40px;
}

.banner-wrap h2{
     font-weight: 700;
     font-size: 40px;
     line-height: 47px;
     color: #FFFFFF;
}

/* Footer Section */

.footer{
     height: 400px;
     background-color: #1E1E1E;
     margin-top: 70px;
     padding: 40px;
}

.footer_container{
    width: 80%;
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer_info_wrap{
     margin-top: 70px;
     margin-left: 50px;
}

.footer_info_wrap h2{
     font-weight: 700;
     font-size: 45px;
     color: #F8F8F8;
}

.footer_info_wrap p{
     font-size: 16px;
     line-height: 26px;
     color: #FFFFFF;
     margin-bottom: 20px;
}
.icon_list{
     display: flex;
     list-style: none;       
}

.icon_list li{
     margin-right: 40px;
}

.footer_subscribe_wrap{
     font-weight: 600;
     font-size: 25px;
     line-height: 29px;
     color: #FFFFFF;
     
}

.footer_subscribe_wrap input{
     width: 325px;
     height: 54px;
     font-size: 20px;
     background-color: #151414;
     border: 1px solid #FFFFFF;
     border-radius: 8px;
     color: #F3F3F3;
     padding: 10px;
     margin-top: 20px;
     
}

.footer_btn{
     background-color: #005FAC;
     color: #FFFFFF;
}



